<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


.work-sans-point {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wght" 400;
}
/*shared styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color:#424242 ;
}
 
/* dark03 */
.text-light-gray{
    color:#727272;
}
.big-light{
     background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
     
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navber related styles */
.navber{
    justify-content: space-between;
    align-items: center;
       
}
.nav-links{
    display: flex;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
     
}
.nav-link{
     text-decoration: none;
      font-weight: 500;
} 
.navber, .banner{
    max-width:1440px ;
    margin: 0 auto;

}
/* banner related styles */
.banner-content{
    max-width:850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom:50px ;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
/* features section related styles */

 .features{
    gap: 20px;
    display: flex;
 }
 .feature-text{

 }

#feature-section-title{
     border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
     
}
#experience-badge{
     
    padding: 30px 32px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;  
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect {
    width: 500px;
    margin-left: 100px;
}
/* some facts related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 50px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* sponser related styles */
.sponser-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;

}
.sponser-companies img{
    filter: grayscale(100%);
    max-width: 150px;
}
.main-footer{
    
    height: 100px;
    background-color: rgba(255, 244, 231, 1);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
}
.footer-box p{
    font-size: 16;
}

/* responsive media query */
@media screen and (max-width: 720px) {
    .navber, 
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .fact-container,
    .sponser-companies{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .fact-container{
        justify-content: center;
        gap: 24px;
    }
    .sponser-companies{
        justify-content:center ;
        gap: 50px;
    }
    .our-features{
        margin: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

/* medium size device */
@media screen and (min-width:720px) and (max-width:992px){
    .teams, .features{
        flex-direction: column;
        align-items: center;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponser-companies, .fact-container{
       grid-template-columns: repeat(2, 1fr);
       gap: 50px;
       justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
 